@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;700&family=Prata&family=Poppins:wght@300;400;500;700&family=Salsa&family=Sarpanch:wght@400;700&family=Qwigley&family=Quicksand:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* khôi phục lại cỡ chữ */
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    width: 100%;
}


/* =========================chung========================= */
html, body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.main-content {
    width: 1105px;
    max-width: calc(100%-30px);
    margin-left: auto;
    margin-right: auto;
    /* background-color: #d9abab;  */
}

.btn {
    display: inline-block;
    min-width: 240px;
    padding: 0px 16px;
    line-height: 45px;
    color: #ffffff;
    text-align: center;
    font-size: 19.688px;
    /* font-style: normal; */
    border: 1px #000000;
    border-radius: 35px;
    font-weight: 600;
    background: #e22b16;
}
/* =========================header========================= */
.header {
    background-color: rgb(204, 204, 204, 1);
}
.header.fixed {
    position: sticky;
    top: -22px;
    z-index: 1000;
}
.header .body {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    /* background-color: rgb(304, 204, 204, 1); */
    padding-top: 30px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
}

.nav {
    /* margin: auto; */
    margin-right: 0px;
    /* margin-left: auto; */
    /* background-color: aqua; */
    white-space: nowrap;
}

.nav .ul {
    display: flex;

}

.nav a {
    position: relative;
    color: #505F64;
    font-size: 19.688px;
    /* background-color: rgb(0, 255, 166); */
    /* margin-right: 30px; */
    padding-top: 21px;
    padding-bottom: 21px;
    padding-right: 25px;
    padding-left: 25px;
    
}

.nav li.active a,
.nav a:hover {
    color: #000;
    /* font-weight: 400; */
}

/* gạch chân */
.nav li.active a::after {
    position: absolute;
    left: 26.5px;
    bottom: 21px;
    display: block;
    content: "";
    width: 20px;
    height: 2px;
    border-radius: 1px;
    background: #000;

}
/* btn login */
.header .btn-login {
    min-width: 144px;
    white-space: nowrap;
}

.header .btn-login:hover {
    color: #000;
}

.header .action {
    margin-left: 20px;
}
.ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header .sub-menu {
    position: absolute;
    list-style: none;
    background-color: rgb(204, 204, 204, 1);
    padding-left: 00px;
    margin-left: 10px;
    margin-top: 20px;
    display: none;
    color: #505F64;
}

.header .sub-menu a{
    font-size: 17px;
    color: #505F64;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 13.5px;
    display: block;
    width: auto;
    background:none;
    width: 100%;
}
.header li:hover>ul.sub-menu{
    display: block;
}
.nav .sub-menu a::after {
    
    display: none !important;
    content: none !important;

}
.sub-menu .li{
    width: 100%;
}
.header .sub-menu a{
    display: block;
    color: #000000;
}
.header .sub-menu a:hover {
    /* color: #000000;
    border: 2px solid #000000; */
    /* background:none; */
    background: #ffffff;
}
.header .logo1 {
    display: flex;
}

/* 4 phần chứa profile người đăng nhập */
.login-box {
    width: 300px;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 0px;
    /* background: #892F4A; */
    position: relative;
    right: 40px;
}
#user-name {
    color: #000;
    font-family: Quicksand;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}
#logout-icon {
    position: relative;
    top: 4px;
    width: 20px; 
    height: 25px;
    cursor: pointer;
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    border: 2px solid white; /* Viền trắng */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Hiệu ứng viền */
    position: relative;
    left: 10px;
}
/* =========================banner========================= */


/* Banner */
.banner {
    position: relative;
    width: 100%;
}
.banner .media-block {
    opacity: 80%;
    filter: brightness(50%);
}
.media-block2 {
    position: absolute;
    right: 120px;
    top: 70px;
}
.text-banner {
    position: absolute;
    width: 685.125px;
    height: 86.625px;
    flex-shrink: 0;
    
    color: rgba(196, 197, 41, 0.92);
    text-align: center;
    -webkit-text-stroke-width: 1.18px;
    -webkit-text-stroke-color: #000;
    font-family: Sarpanch, sans-serif;
    font-size: 39.375px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

    top: 18px;
    left: 180px;
}
/* =========================main========================= */

/* Ngăn cách1 */
.ngan-cach {
    display: flex;
    /* background: #505F64; */
    margin-top: 65px;
    margin-bottom: 65px;
}
hr {
    border: 2px;
    width: 404.803px;
    height: 0.787px;
    background: #000;
}


.text-ngancach {
    color: #000;
    font-family: Prata;
    font-size: 20.05px;
    font-weight: 400;
    line-height: normal;
}

/* info thương hiệu */
.info_1 {
    display: flex !important;
}
.info_2 {
    display: flex !important;
}
.info_3 {
    display: flex !important;
}
.rec {
    position: relative;
    width: 532.2px;
    height: 330px;
    flex-shrink: 0;
    border-radius: 31.5px;
    border: 1px solid #000;
    background: #F1F0F0;
    /* margin-right: 19.69px; */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);

}
.text {

    position: absolute;
    width: 412px;
    height: 262px;
    flex-shrink: 0;
    margin: auto;
    /* background: #b11e1e; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.text1_1 {

    position: absolute;
    width: 412px;
    height: 262px;
    flex-shrink: 0;
    margin: auto;
    /* background: #b11e1e; */
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.text1_2 {

    position: absolute;
    width: 412px;
    height: 262px;
    flex-shrink: 0;
    margin: auto;
    /* background: #b11e1e; */
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.info_1 {
    justify-content: space-between;
    padding-bottom: 35px;
    /* background: #353535; */
}
.info_2 {
    justify-content: space-between;
    padding-bottom: 35px;
}
.info_3 {
    justify-content: space-between;
    padding-bottom: 35px;
}

/* in4 thực đơn */

.info_4 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 300px;
}

/* Trên */
.rec-top {
    position: relative;
    width: 329.962px;
    height: 54px;
    flex-shrink: 0;
    border-top-left-radius: 14.175px;
    border-top-right-radius: 14.175px;
    border: 1px solid #000;
    background: #D9D9D9;
    top: 1px;
}
.font1 {
    position: absolute;
    color: #000;
    font-family: Prompt;
    font-size: 22.05px;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
    left: 15px;

}
.font2 {
    position: absolute;
    color: #000;
    font-family: Prompt;
    font-size: 14.175px;
    font-style: italic;
    font-weight: 275;
    line-height: normal;
    top: 30px;
    left: 15px;
}

/* Dưới */
.rec-bottom {
    position: relative;
    width: 330px;
    height: 246px;
    flex-shrink: 0;
    border-radius: 0px 0px 14.175px 14.175px;
    border: 1px solid #000;
    background: #D9D9D9;
    top: -7px;
}

.font3 {
    position: absolute;
    text-align: center;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 307.912px;
    color: #000;
    font-family: Prompt;
    font-size: 15.75px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
}

/* ==== xem chi tiết hình ảnh món ăn ======= */
/* Ẩn modal ban đầu */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Làm mờ nền */
    justify-content: center;
    align-items: center;
}

/* Ảnh trong modal */
.modal-content {
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
}






/* =========================footer========================= */


footer {
    background-color: #353535;
    padding: 50px 50px;
    padding-bottom: 35px;
}
.footer .row {
    display: flex;
    margin-bottom: 0px;
    border-bottom: 0.6px solid #b2b0b0;
    padding-bottom: 20px;
}

.footer .row .column:first-child {
    width: 50%;
}
.footer .row .column {
    width: 25%;
}

.footer .desc {
    color: #FFF;
    max-width: 600px;
    font-family: Quicksand;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-style: italic;
}

.footer .title {
    padding-bottom: 10px;
    padding-right: 40px;
    display: inline-block;
    border-bottom: 0.6px solid #b2b0b0;
    color: #FFF;
    font-family: Prompt;
    font-size: 20px;

}

.footer .list {
    margin-top: 20px;
}

a strong {
    font-weight: bold !important;
}

.footer .list a {
    display: inline-block;
    color: #FFF;
    font-family: Quicksand;
    font-size: 13.388px;
    margin-bottom: 15px;
}

.footer .list li:last-child a{
    margin-bottom: 25px;
}

.footer .copyright {
    padding-top: 35px;
    color:#FFF;
    text-align: center;
    font-size: 13px;
    font-weight: 100;
}

/* =======popup chứa login và signup============== */
.hidden {
    display: none;
}

#popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

#popup-content {
    min-width: 300px;
}



/* =========================style của login===================== */



.hidden_1 {
    display: none;
}
#popup-overlay_1 {
    background: rgba(0, 0, 0, 0.5);    /* display: none; */
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.body_1 {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    width: 1134px;
    height: 655px;
    flex-shrink: 0;
    border-radius: 35px;
    background: #ffffff;
}
.left_1 {
    position: relative;
    width: 567px; 
    height: 655px; 
    border-top-left-radius: 35px; 
    border-bottom-left-radius: 35px;
    background: #ffffff;
}
.dvi_1 {
    
    margin: auto;
    margin-bottom: 20px;
    
}
.dvi2_1 {
    
    margin: auto;
    margin-bottom: 40px;
    
}
.right_1 {
    position: relative;
    width: 567px; 
    height: 655px; 
    border-top-left-radius: 35px; 
    border-bottom-left-radius: 35px;
    border-radius: 200px 35px 35px 200px;
    background: linear-gradient(91deg, #7F3229 0.88%, #892F4A 98.82%);
}
.right_1 .top_1 {
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 195px;
    color: #ffffff;
    font-family: Quicksand;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.right_1 .center_1 {
    width: 393px;
    height: 53px;
    /* background: #D9D9D9; */
    color: #FFF;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.right_1 .bot_1 {
    width: 188px;
    height: 37.578px;
    border-radius: 10px;
    background: linear-gradient(91deg, #7F3229 0.88%, #892F4A 98.82%);;
    border: 2px solid #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D9D9D9;
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}
.right_1 .bot_1:hover {
    cursor: pointer;
    color: #000;
    border: 2px solid #000000;
}
.left_1 .top_1 {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 195px;
    color: #000;
    font-family: Quicksand;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.left_1 .center_1 {
    position: relative;
    width: 254px;
    height: 190px;
    /* width: 1000px;
    height: 1000px; */
    border-bottom: solid 1px  #000;
    display: flex;
    justify-content: center;
}
.left_1 .bot_1 {
    width: 250px;
    height: 15px;
    display: flex;
    justify-content: center;
}

/* ================== left =============== */
.left_1 .top_1 {
    background: #ffffff;
}
.left_1 .center_1 {
    background: #ffffff;
}
.left_1 .bot_1 {
    background: #ffffff;
}

.form_1 {
    position: absolute;

}
.input_1 {
    /* position: absolute; */
    width: 254px;
    height: 34px;
    /* text-align: left; */
    border-radius: 10px;
    border: 1.5px solid #D9D9D9;
    background: #D9D9D9;
}




.sdt_1 {
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000;
    font-family: Quicksand;
    font-size: 11px;
    font-weight: 400;
}
.mk_1 {
    padding-left: 10px;
    top: 80px;
    color: #000;
    font-family: Quicksand;
    font-size: 11px;
    font-weight: 400;
}
.btn_1 {
    display: inline-block;
    top: 130px;
    position: absolute;
    border-radius: 10px;
    border: 1.5px solid #D9D9D9;
    background: #A6372D;
    color: #FFF;
    font-family: Quicksand;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.left_1 .btn_1:hover {
    color: #000;
    cursor: pointer;
}
.bot_1 {
    position: relative;
    width: 230px;
    height: 30px;
}

.bot-text1_1 {
    position: absolute;
    display: flex;
    left: 0;
    color: #5C5858;
    font-family: Quicksand;
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #ffffff;
}
.bot-text2_1 {
    position: absolute;
    right: 0;
    color: #5C5858;
    font-family: Quicksand;
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #ffffff;
    text-decoration: none;
}



input[type="checkbox"] {
    margin-top: 1px;
    width: 8px;
    height: 8px;
    flex-shrink: 0;
    border-radius: 2px;
    background: #FFF;
}




/* ==============style của signup================== */


.body_2 {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    width: 1134px;
    height: 655px;
    flex-shrink: 0;
    border-radius: 35px;
    background: #ffffff;
}
.left_2 {
    position: relative;
    width: 567px; 
    height: 655px; 
    border-top-right-radius: 35px; 
    border-bottom-right-radius: 35px;
    background: #ffffff;
}
.dvi_2 {
    
    margin: auto;
    margin-bottom: 20px;
    
}
.dvi2_2 {
    
    margin: auto;
    margin-bottom: 40px;
    
}
.right_2 {
    position: relative;
    width: 567px; 
    height: 655px; 
    border-top-right-radius: 35px; 
    border-bottom-right-radius: 35px;
    border-radius: 35px 200px 200px 35px;
    background: linear-gradient(91deg, #7F3229 0.88%, #892F4A 98.82%);
}
.right_2 .top_2 {
    width: 380px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 195px;
    color: #ffffff;
    font-family: Quicksand;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}
.right_2 .center_2 {
    width: 270px;
    height: 53px;
    /* background: #D9D9D9; */
    color: #FFF;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.right_2 .bot_2 {
    width: 188px;
    height: 37.578px;
    border-radius: 10px;
    background: linear-gradient(91deg, #7F3229 0.88%, #892F4A 98.82%);;
    border: 2px solid #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D9D9D9;
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}
.right_2 .bot_2:hover {
    cursor: pointer;
    color: #000;
    border: 2px solid #000000;
}
.left_2 .top_2 {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 195px;
    color: #000;
    font-family: Quicksand;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.left_2 .center_2 {
    position: relative;
    width: 254px;
    height: 220px;
    /* width: 1000px;
    height: 1000px; */
    display: flex;
    justify-content: center;
}
.left_2 .bot_2 {
    width: 250px;
    height: 15px;
    display: flex;
    justify-content: center;
}

/* ================== left =============== */
.left_2 .top_2 {
    background: #ffffff;
}
.left_2 .center_2 {
    background: #ffffff;
}
.left_2 .bot_2 {
    background: #ffffff;

}

.form_2 {
    position: absolute;

}
.input_2 {
    /* position: absolute; */
    width: 254px;
    height: 34px;
    /* text-align: left; */
    border-radius: 10px;
    border: 1.5px solid #D9D9D9;
    background: #D9D9D9;
}



.name_2 {
    padding-left: 10px;
    color: #000;
    font-family: Quicksand;
    font-size: 11px;
    font-weight: 400;
}
.sdt_2 {
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000;
    font-family: Quicksand;
    font-size: 11px;
    font-weight: 400;
}
.mk_2 {
    padding-left: 10px;
    top: 80px;
    color: #000;
    font-family: Quicksand;
    font-size: 11px;
    font-weight: 400;
}
.btn_2 {
    display: inline-block;
    position: absolute;
    margin-bottom: 0px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1.5px solid #D9D9D9;
    background: #A6372D;
    color: #FFF;
    font-family: Quicksand;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.left_2 .btn_2:hover {
    color: #000;
    cursor: pointer;
}
.bot_2 {
    position: relative;
    width: 230px;
    height: 30px;
}

.bot-text1 {
    position: absolute;
    display: flex;
    left: 0;
    color: #5C5858;
    font-family: Quicksand;
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #ffffff;
}
.bot-text2 {
    position: absolute;
    right: 0;
    color: #5C5858;
    font-family: Quicksand;
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #ffffff;
    text-decoration: none;
}



input[type="checkbox"] {
    margin-top: 1px;
    width: 8px;
    height: 8px;
    flex-shrink: 0;
    border-radius: 2px;
    background: #FFF;
}




